// footer
#articlePage #landingpage{
    .lpFooter{
        background: color(gray, 0);

        h2{
            color: color(landingpage, light);
        }

        p{
            color: color(gray, 8);
        }
    }
}

// alza
#articlePage #landingpage #newSocialContainer{
    padding: 0;
}

// media
@media only screen and (max-width: 550px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpFooter{
            padding-top: 20px;
        }
    }
}