#landingpage{
    .lpNav{
        padding: 22px 0;
        background-color: color(landingpage, default);
        width: 100%;
        position: relative;
        z-index: 10;

        &__wrapper{
            @include flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__left,
        &__right{
            flex: auto;
        }

        &__left{
            .lpNav__item .lpNav__button{
                margin-left: 34px;
            }
        }

        &__right{
            .lpNav__items{
                justify-content: flex-end;
            }
        }

        &__items{
            @include flex;
            justify-content: flex-start;
        }

        &__item{
            margin-right: 22px;

            &:last-of-type{
                margin-right: 0;
            }
        }

        &__icon{
            width: 22px;
            height: 22px;

            svg{
                max-width: 100%;
                max-height: 100%;
                filter: drop-shadow(0 0 8px rgba($color: color(landingpage, shadow), $alpha: 1.0));
                transition: .3s ease-in-out;
                fill: rgba($color: color(gray, 0), $alpha: 1.0);

                &:hover{
                    fill: color(landingpage, light);
                    filter: drop-shadow(0 0 12px rgba($color: color(landingpage, shadow), $alpha: 1.0));
                }
            }
        }

        &__button{
            color: color(gray, 0);
            font-size: 14px;
            font-weight: 500;
            min-height: 40px;
            padding: 10px 25px;
            border: 2px solid color(landingpage, light);
            border-radius: 4px;
            background: none;
            box-shadow: 0 0 8px rgba($color: color(landingpage, shadow), $alpha: 1.0), 0 0 8px rgba($color: color(landingpage, shadow), $alpha: 1.0) inset;
            transition: .3s ease-in-out;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                box-shadow: 0 0 0 5px rgba($color: color(gray, 0), $alpha: 0);
                border-radius: 4px;
            }

            &:hover{
                border: 2px solid color(gray, 0);
                box-shadow: 0 0 8px rgba($color: color(gray, 0), $alpha: 1.0), 0 0 8px rgba($color: color(gray, 0), $alpha: 1.0) inset;

                &:after{
                    box-shadow: 0 0 0 5px rgba($color: color(gray, 0), $alpha: .5);
                    animation: pulse 1.2s forwards;
                }
            }
        }

        @keyframes pulse {
            70% {
                box-shadow: 0 0 0 12px rgba($color: color(gray, 0), $alpha: 0);
            }

            100% {
                box-shadow: 0 0 0 0px rgba($color: color(gray, 0), $alpha: 0);
            }
        }

        &__menuIcon{
            background-color: color(gray, 0);
            box-shadow: 0 0 8px rgba($color: color(landingpage, shadow), $alpha: 1.0);
            border-radius: 100px;
            @include flex;
            width: 41px;
            height: 41px;
            display: none;
            outline: none;

            svg{
                width: 16px;
                height: 16px;
            }
        }
    }

    .lpNav.lpNav--sticky{
        position: fixed;
        max-width: 1310px;
    }

    .lpNav.lpNav--stickyMobile{
        position: fixed;
        top: 60px;
        max-width: 100%;
    }
}

// layout-0
.layout-0 #landingpage{
    .lpNav__left .lpNav__item .lpNav__button{
        margin-left: 10px;
    }

    .lpNav.lpNav--sticky{
        max-width: 1035px;
    }
} 

// mobile
.mobile #landingpage .lpNav.lpNav--sticky,
.mobileapp #landingpage .lpNav.lpNav--sticky{
    max-width: 100%;
}

.mobile #landingpage .lpNav__right,
.mobileapp #landingpage .lpNav__right{
    display: flex;
    justify-content: flex-end;

    .lpNav__menuIcon{
        display: flex;
    }
}

.mobile #landingpage .lpNav__menu,
.mobileapp #landingpage .lpNav__menu{
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transition-property: max-height, padding;
    transition-duration: .3s;
    transition-timing-function: ease-out;

    .lpNav__items{
        flex-direction: column;
        padding: 32px 40px 24px;

        .lpNav__item{
            width: 100%;
            margin: 0 auto 16px;
            max-width: 550px;

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}

.mobile #landingpage .lpNav__menu.lpNav__menu--open,
.mobileapp #landingpage .lpNav__menu.lpNav__menu--open{
    max-height: 500px;
    transition-property: max-height;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

// media
@media only screen and (max-width: 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpNav__item--icon{
            display: none;
        }

        .lpNav__left .lpNav__item .lpNav__button{
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 550px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpNav__menu .lpNav__items, 
        .lpNav__menu .lpNav__items{
            padding: 32px 15px 24px;
        }
    }
}