#landingpage{
    .lpMain{
        .lpService{
            position: relative;
            
            picture{
                position: relative;
                z-index: 2;
            }

            img{
                margin: 0 auto;
            }

            .btn{
                margin: 10px auto 0;
            }
        }
    }
}