#landingpage{
    .lpBlur{
        background-color: color(landingpage, blur);
        opacity: .35;
        filter: blur(60px);
        position: absolute;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        z-index: 1;
        animation: pulsing 5s .5s ease-in infinite;

        @keyframes pulsing {
            0% {
                transform: translate(-50%, -40%) scale(0.85);
            }

            50% {
                transform: translate(-50%, -40%) scale(1.1);
            }

            100% {
                transform: translate(-50%, -40%) scale(0.85);
            }
        }

        &--intro{
            width: 60%;
            aspect-ratio: 1/1;
            top: 20%;
            left: 0;
        }

        &--category-left{
            width: 30%;
            aspect-ratio: 1/1;
            top: 17%;
            left: -5%;
            opacity: .5;
        }

        &--category-right{
            width: 40%;
            aspect-ratio: 1/1;
            top: 20%;
            left: 100%;
        }

        &--bigUsps{
            width: 50%;
            aspect-ratio: 1/1;
            top: 40%;
            left: 110%;
        }

        &--smallUsps-left{
            width: 40%;
            aspect-ratio: 1/1;
            top: 40%;
            left: 0;
        }

        &--service{
            width: 50%;
            height: 100%;
            top: 50%;
            left: 50%;
        }

        &--companies-left{
            width: 60%;
            aspect-ratio: 1/1;
            top: 20%;
            left: 0;
        }

        &--companies-right{
            width: 50%;
            aspect-ratio: 1/1;
            top: 10%;
            left: 100%;
        }

        &--smallUsps{
            width: 90%;
            height: 80%;
            top: 50%;
            left: 50%;
        }
    }
}