#landingpage{
    .lpAccordion{
        background: color(gray, 0);

        .hdl2{
            color: color(landingpage, light);
        }

        .perex{
            margin-top: 40px;
            color: color(gray, 8);

            &--link{
                font-weight: 700;
                color: color(landingpage, light);
            }
        }

        .body-1--subLink{
            color: color(gray, 5);
            margin: 32px auto 0;

            &:hover{
                color: color(landingpage, light);
            }
        }

        .lpFAQs{
            margin: 0 auto;
            padding-top: 40px;
            display: none;
    
            &__wrapper{
                background: color(gray, 0);
                border-radius: 4px;
                text-align: left;
                margin-bottom: 10px;
                padding: 0 16px;
                cursor: pointer;
                box-shadow: 0 1px 4px rgba($color: color(gray, 6), $alpha: .15);
                height: auto;
                transition: .15s ease-in-out;
    
                &:hover{
                    background-color: color(gray, 1);
    
                    .faqsHeadline{
                        color: color(blue, 500);
                    }
                }
    
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
    
            // wrapper active
            .lpFAQs__wrapper--active{
                transition: .3s ease-in-out;
                background-color: color(gray, 1);
    
                .faqsHeadline{
                    color: color(blue, 500);
                    font-weight: 500;
    
                    &::before{
                        transform: rotate(180deg);
                    }
                }
            }
    
            // headline
            .faqsHeadline{
                color: color(gray, 8);
                margin: 0;
                position: relative;
                outline: none;
                padding: 12px 0 12px 32px;
                transition: .15s ease-in-out;
    
                &::before{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 16px;
                    background: url("https://cdn.alza.cz/Foto/or/lp/components/ls/accordion/img/blue-arrow.svg") 50% no-repeat;
                    background-size: cover;
                    left: 0;
                    top: 16px;
                    transition: .3s ease-in-out;
                    transform-origin: center;
                }
            }
    
            // paragraph
            &__paragraph{
                padding: 0 16px 24px 32px;
                height: auto;

                .lpListItems__item{
                    color: color(gray, 8);
                }
            }
    
            .body-1{
                margin-top: 8px;
                padding: 0 16px 0 0;
            }
        }

        .lpFAQs--active{
            display: block;
            opacity: 0;
            animation: fade-in .3s ease-in forwards;
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
} 