#landingpage {
    .lpContact {
        .lpForm {
            &__wrapper {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                max-width: 332px;
                width: 100%;
                margin: 40px auto 0;
                display: none;
                opacity: 0;
                visibility: hidden;

                &--active {
                    display: block;
                    animation: form .3s ease-in forwards;
                }

                @keyframes form {
                    0% {
                        display: block;
                        opacity: 0;
                        visibility: hidden;
                    }

                    100% {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &__row {
                text-align: left;
                margin-top: 20px;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                flex-direction: column;

                &:first-of-type {
                    margin-top: 0;
                }

                .body-1 {
                    color: color(gray, 0);
                }

                .body-2 {
                    color: color(landingpage, text);
                }

                label,
                input,
                textarea,
                button {
                    @include roboto;
                    width: 100%;
                    flex: 1;
                    outline: none;
                    color: color(gray, 8);
                    border-radius: 4px;

                    &.placeholder {
                        color: color(gray, 5);
                    }
                }

                label,
                input,
                textarea {
                    &:disabled {
                        background-color: color(gray, 0);
                        opacity: .7;
                    }
                }

                .lpForm__label {
                    &--top {
                        color: color(landingpage, text);
                        margin-bottom: 5px;
                    }
                }

                .lpForm__errorMessage {
                    color: color(red, 500);
                    font-weight: 500;
                    max-height: 0;
                    overflow: hidden;
                    padding: 0;
                    margin: 0;
                    transition-property: max-height;
                    transition-duration: .3s;
                    transition-timing-function: ease-out;

                    &--active {
                        max-height: 100px;
                        transition-property: max-height;
                        transition-duration: .5s;
                        transition-timing-function: ease-in;
                    }
                }

                label.lpInputVerrify {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        border: 2px solid color(green, 700);
                        border-top: 0;
                        border-right: 0;
                        width: 14px;
                        height: 6px;
                        top: 45px;
                        right: 15px;
                        transform: translateY(-50%) rotateZ(-45deg);
                        transform-origin: center center;
                    }
                }

                input {
                    border: 1px solid color(gray, 3);
                    padding: 12px 15px;
                    margin-bottom: 5px;

                    &::placeholder {
                        color: color(gray, 5);
                    }
                }

                input:invalid~.lpForm__label--top {
                    color: red;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                input[type=number] {
                    -moz-appearance: textfield;
                }

                &--border {
                    &:focus {
                        border: 1px solid color(blue, 700);

                        +label {
                            color: color(blue, 700);
                        }
                    }
                }

                &--gdpr {
                    display: block;
                }

                .lpForm__gdprWrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;

                    .body-1,
                    .body-1--link {
                        color: color(landingpage, text);
                    }

                    .body-1--link {
                        &:hover {
                            color: color(gray, 0);
                        }
                    }

                    input {
                        flex: 0 0 20px;
                        transform: translateY(5px);
                        margin: 0;
                    }

                    label {
                        flex: 1;
                        margin-left: 10px;
                    }
                }

                textarea {
                    padding: 12px 15px;
                    resize: none;
                    width: 100%;
                    margin-bottom: 5px;
                }

                #pushCCT {
                    padding: 0;
                    border: none;
                    position: relative;

                    .btn-text {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 58px;
                        color: color(gray, 8);
                    }
                }

                .btn--loading {
                    position: relative;
                    cursor: not-allowed;
                    opacity: .5;

                    &::before {
                        content: '';
                        position: absolute;
                        @include center;
                        width: 20px;
                        height: 20px;
                        background: url('https://cdn.alza.cz/Foto/or/lp/neo/build/img/loading.svg') center no-repeat;
                        background-size: cover;
                        animation: loading .6s linear infinite;
                    }

                    @keyframes loading {
                        100% {
                            transform: translate(-50%, -50%) rotate(360deg);
                        }
                    }

                    .btn-text {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

// mobile
@media only screen and (max-width: 980px) {

    .mobile #landingpage,
    .mobileapp #landingpage {

        .lpContact .lpForm__row input,
        .lpContact .lpForm__row textarea {
            font-size: 14px;
        }
    }
}